{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to BookRec</h1>
    <p class="lead">Your personalized book recommendation system</p>
    <hr class="my-4">
    <p>Discover books tailored to your preferences by taking our quick survey.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('survey') }}" role="button">Start Survey</a>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <h3>How It Works</h3>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Complete our short reading preferences survey</li>
            <li class="list-group-item">Our algorithm analyzes your responses</li>
            <li class="list-group-item">Get personalized book recommendations</li>
        </ol>
    </div>
    <div class="col-md-6">
        <h3>About Our System</h3>
        <div class="card">
            <div class="card-body">
                <p>Our recommendation system uses machine learning to match you with books you'll love based on:</p>
                <ul>
                    <li>Your genre preferences</li>
                    <li>Reading habits</li>
                    <li>Book characteristics</li>
                    <li>And more!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}